
.field {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.field:hover {
    background-color: rgb(212, 240, 212);
}


.light-hidden {    
    background-color: rgb(172, 235, 172);
}

.dark-hidden {
    background-color: rgb(152, 207, 152);
}

.highlight {
    background-color: rgb(212, 240, 212);
}

.light-cleared {
    background-color: rgb(233, 228, 182);
}

.dark-cleared {
    background-color: rgb(230, 223, 162);
}

.revealed {
    background-color: rgb(238, 204, 131);
}

.bomb {
    background-color: gray;
}

.background {
    background: rgb(2, 2, 2, 0.5);
}

.error {
    background-color: orange; 
    transition: 2s ;    
}

