.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-color-1 {
  color: blue;
}

.text-color-2 {
  color: green;
}

.text-color-3 {
  color: red;
}

.text-color-4 {
  color: purple;
}

.text-color-5  {
  color: maroon;
}

.text-color-6 {
  color: turquoise;
}

.text-color-7 {
  color: black;
}

.text-color-8 {
  color: gray;
}